header .profilepic{
  border-radius:50%;
  max-height:50px;
  max-width:50px;
}
.centeredvert{
align-items: center;
}
.centeredvert a{
  margin-bottom:0;
}
.profilebtn{
  padding-top:11px;
}
.rightcont{
  justify-content: end;
}
.homebtn{
  align-self:center;
}
.maintitle{
    margin-left: 14%;
}
.maintitle h1{
    font-size: 1.5em;
}
.brrr{
  justify-content: space-between;
}