.delete {
  position: absolute;
  top: 0;
  right: -10px;
  margin-top: -10px;
  background: rgba(200, 30, 30, 1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  line-height: 10px;
}

.articlePreview {
  position: relative;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
